*.sdf
*.suo
*.opensdf
*.user
*.obj
*.lib
*.tlog
*.pch
*.pdb
*.tmp
*.db
*.aps
*.log
*.lastbuildstate
*.idb
*.exe
*.ilk
*.log
*.cache
*.res
*.exp
*.ipch
*.pri
*.xml
*.cso
*.winmd
*.ipch
*.appxrecipe
*.pckgdep
*.mp4
*.blend1
